@page "/Bookings"
@using Logic
@using Logic.DTOs
@layout MainLayout
@inject UserLogic userLogic
@inject SessionLogic sessionLogic
@inject StorageUnitLogic storageUnitLogic

<PageTitle>DepoQuick</PageTitle>

<section class="vh-75">
    <div class="container">
        <h2 class="mt-5 mb-4">Bookings</h2>
        <h5>When applying range date of booking Total Price will update</h5>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>StorageUnit data</th>
                            <th>Price per day</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Total Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var storageUnit in storageUnits)
                        {
                             <tr>
                                 <td>
                                     <strong>Id:</strong>@storageUnit.Id<br/>
                                     <strong>Area:</strong>@storageUnit.Area<br/>
                                     <strong>Size:</strong>@storageUnit.Size<br/>
                                     <strong>Climatization:</strong>@storageUnit.Climatization<br/>
                                     @foreach (var promotion in storageUnit.Promotions)
                                     {
                                         <div>
                                             <br/>
                                             <p style="margin-bottom: 0;">Promotion</p>
                                             <strong>Label:</strong> @promotion.Label<br/>
                                             <strong>Discount:</strong> @promotion.Discount<br/>
                                             <strong>StartDate:</strong> @promotion.DateStart<br/>
                                             <strong>EndDate:</strong> @promotion.DateEnd<br/>
                                         </div>
                                     }
                                 </td>
                                 <td>
                                     @* <label class="form-label">$@PricePerDay</label> *@
                                 </td>
                                 <td>
                                     <div data-mdb-input-init class="form-outline mb-2">
                                         <input type="date" class="form-control form-control-lg" @bind="dateStart" required/>
                                     </div>
                                 </td>
                                 <td>
                                     <div data-mdb-input-init class="form-outline mb-2">
                                         <input type="date" class="form-control form-control-lg" @bind="dateEnd" required/>
                                     </div>
                                 </td>
                                 <td>
                                     <div>
                                         <label class="form-label">$@totalPrice</label>
                                     </div>
                                 </td>
                                 <td>
                                     <button type="button" class="btn btn-primary mb-2" @onclick="() => SetTotalPrice(storageUnit)">Calculate Total Price</button><br/>
                                     <button type="button" class="btn btn-success" @onclick="() => HandleValidSubmit(storageUnit)">Select Storage Unit</button>
                                 </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@if(showAdminConfirmationModal)
{
    <AuthenticationModal 
      Title="Booking selected successfully"
      Text="Booking selected successfully"
      DialogType=AuthenticationModal.ModalDialogType.Ok
      OnClose="@ClosePromotionConfirmationModal">
    </AuthenticationModal>
}

@code {
    BookingDto bookingDto;
    UserDto userDto;
    private DateTime dateStart;
    private DateTime dateEnd;
    private double pricePerDay;
    private double totalPrice;
    private List<StorageUnitDto> storageUnits;
    private bool showAdminConfirmationModal;
    
    protected override void OnInitialized()
    {
        bookingDto = new BookingDto();
        storageUnits = storageUnitLogic.GetStorageUnitsDto();
        dateStart = DateTime.Now;
        dateEnd = DateTime.Now;
        //pricePerDay = storageUnitLogic.GetPricePerDay();
        totalPrice = 0;
    }

    private async Task HandleValidSubmit(StorageUnitDto storageUnitDto)
    {
        bookingDto = new BookingDto(false, dateStart, dateEnd, storageUnitDto, "");
        userDto = new UserDto(sessionLogic.CurrentPerson.Name, sessionLogic.CurrentPerson.Surname, sessionLogic.CurrentPerson.Email, sessionLogic.CurrentPerson.Password, new List<BookingDto>());
        userLogic.AddBookingToUser(userDto, bookingDto);
        showAdminConfirmationModal = true;
        storageUnits = storageUnitLogic.GetStorageUnitsDto();
    }

    private void SetTotalPrice(StorageUnitDto storageUnitDto)
    {
        bookingDto = new BookingDto(false, dateStart, dateEnd, storageUnitDto, "");
        totalPrice = userLogic.CalculateTotalPriceOfBooking(bookingDto);
    }

    private void ClosePromotionConfirmationModal()
    {
        showAdminConfirmationModal = false;
    }
}