@page "/DeleteStorageUnits"
@using Logic
@using Model;
@using Model.Enums
@using System.Reflection.Emit
@using Logic.DTOs
@layout MainLayout
@inject PromotionLogic promotionLogic
@inject StorageUnitLogic storageUnitLogic

<PageTitle>DepoQuick</PageTitle>

<section class="vh-75">
    <div class="container">
        <h2 class="mt-5 mb-4">Delete StorageUnits</h2>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>StorageUnit Id</th>
                            <th>Area</th>
                            <th>Size</th>
                            <th>Climatization</th>
                            <th>Promotions</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var storageUnit in storageUnits)
                        {
                            <tr>
                                <td>@storageUnit.Id</td>
                                <td>@storageUnit.Area</td>
                                <td>@storageUnit.Size</td>
                                <td>@storageUnit.Climatization</td>
                                <td>
                                    @foreach (var promotion in storageUnit.Promotions)
                                    {
                                        <div>
                                            <strong>Label:</strong> @promotion.Label<br />
                                            <strong>Discount:</strong> @promotion.Discount<br />
                                            <strong>StartDate:</strong> @promotion.DateStart<br />
                                            <strong>EndDate:</strong> @promotion.DateEnd<br />
                                        </div>
                                    }
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" @onclick="() =>HandleValidSubmit(storageUnit.Id)">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@if (showAdminErrorModal)
{
  <AuthenticationModal
    Title="StorageUnit does not exist"
    Text="@errorMessage"
    DialogType=AuthenticationModal.ModalDialogType.Ok
    OnClose="@ClosePromotionErrorModal">
  </AuthenticationModal>
}
@if(showAdminConfirmationModal)
{
    <AuthenticationModal 
      Title="StorageUnit deleted successfully"
      Text="StorageUnit deleted successfully"
      DialogType=AuthenticationModal.ModalDialogType.Ok
      OnClose="@ClosePromotionConfirmationModal">
    </AuthenticationModal>
}

@code {
    StorageUnitDto storageUnitDto;
    private List<StorageUnitDto> storageUnits;
    private bool showAdminErrorModal = false;
    private string errorMessage = "";
    private bool showAdminConfirmationModal = false;
    
    protected override void OnInitialized()
    {
        storageUnitDto = new StorageUnitDto();
        storageUnits = storageUnitLogic.GetStorageUnitsDto();
    }
    
    private async Task HandleValidSubmit(string id)
    {
        try
        {
            storageUnitDto = storageUnitLogic.GetStorageUnitDtoFromId(id);
            storageUnitLogic.RemoveStorageUnit(storageUnitDto);
            showAdminConfirmationModal = true;
            storageUnits = storageUnitLogic.GetStorageUnitsDto();
        }
        catch (Exception e)
        {
            showAdminErrorModal = true;
            errorMessage = e.Message;
        }
    }
    
    private void ClosePromotionErrorModal()
    {
        showAdminErrorModal = false;
    }
  
    private void ClosePromotionConfirmationModal()
    {
        showAdminConfirmationModal = false;
    }
}