@page "/DeleteStorageUnits"
@using Logic
@using Logic.DTOs
@layout MainLayout
@inject StorageUnitLogic storageUnitLogic

<PageTitle>DepoQuick</PageTitle>

<section class="vh-75">
    <div class="container">
        <h2 class="mt-5 mb-4">Delete StorageUnits</h2>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>StorageUnit Id</th>
                            <th>Area</th>
                            <th>Size</th>
                            <th>Climatization</th>
                            <th>Promotions</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (storageUnits.Count == 0)
                        {
                            <tr>
                                <td colspan="6">No storage units found</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var storageUnit in storageUnits)
                            {
                                <tr>
                                    <td>@storageUnit.Id</td>
                                    <td>@storageUnit.Area</td>
                                    <td>@storageUnit.Size</td>
                                    <td>@storageUnit.Climatization</td>
                                    <td>
                                        @foreach (var promotion in storageUnit.Promotions)
                                        {
                                            <div>
                                                <strong>Label:</strong> @promotion.Label<br/>
                                                <strong>Discount:</strong> @promotion.Discount<br/>
                                                <strong>StartDate:</strong> @promotion.DateStart<br/>
                                                <strong>EndDate:</strong> @promotion.DateEnd<br/>
                                            </div>
                                        }
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" @onclick="() => HandleValidSubmit(storageUnit.Id)">Delete</button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@if(showAdminConfirmationModal)
{
    <AuthenticationModal 
      Title="StorageUnit deleted successfully"
      Text="StorageUnit deleted successfully"
      DialogType=AuthenticationModal.ModalDialogType.Ok
      OnClose="@ClosePromotionConfirmationModal">
    </AuthenticationModal>
}

@code {
    StorageUnitDto storageUnitDto;
    private List<StorageUnitDto> storageUnits;
    private bool showAdminErrorModal = false;
    private bool showAdminConfirmationModal = false;
    
    protected override void OnInitialized()
    {
        storageUnitDto = new StorageUnitDto();
        storageUnits = storageUnitLogic.GetStorageUnitsDto();
    }
    
    private async Task HandleValidSubmit(string id)
    {
        storageUnitDto = storageUnitLogic.GetStorageUnitDtoFromId(id);
        storageUnitLogic.RemoveStorageUnit(storageUnitDto);
        showAdminConfirmationModal = true;
        storageUnits = storageUnitLogic.GetStorageUnitsDto();
    }
  
    private void ClosePromotionConfirmationModal()
    {
        showAdminConfirmationModal = false;
    }
}